/* CGV 스타일 */
* {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Arial",
        sans-serif !important;
}

html,
body {
    padding: 0;
    margin: 0;

    height: 100%;
}

#root {
    width: 100%;
    height: 100%;

    /* modal 때문에 하단에 영역이 늘어나는 건 숨김 */
    overflow: hidden;
}
